// color main text
$gray: #4F4F4F;
// color button & a
$blue: #5673CE;
// color text nav & footer
$black: #2B2A29;
// background in exchange
$exchangebg: #FAFAFA;
// color text in slider exchange
$blackquotation: #333333;
$red: #EB5757;
$green: #27AE60;
// color name bitcoin price
$courseblue: #1F3754;